[Unit]
Description=Casanode BLE Service
After=network.target casanode.service
Requires=casanode.service

[Service]
User=casanode
Group=casanode
WorkingDirectory=/opt/casanode/ble
ExecStart=/usr/bin/python3 /opt/casanode/ble/main.py
Restart=always
RestartSec=2s
TimeoutStopSec=20s
StartLimitIntervalSec=60
StartLimitBurst=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
