[Unit]
Description=Casanode Startup Initialization
Wants=dhcpcd.service
After=dhcpcd.service

[Service]
Type=oneshot
ExecStart=/opt/casanode/startup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
