[Unit]
Description=Casanode dVPN Service
After=network.target casanode-startup.service
Requires=casanode-startup.service

[Service]
User=casanode
Group=casanode
WorkingDirectory=/opt/casanode
ExecStart=npm --prefix /opt/casanode/app/ run start
Restart=always
RestartSec=2s
TimeoutStopSec=20s
StartLimitInterval=60
StartLimitBurst=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
